<div class="row row-offcanvas row-offcanvas-right">
	<div class="col-xs-12">
		<p class="pull-right visible-xs">
			<button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
		</p>
		<div class="jumbotron text-center">
			<h1>Yahoo Weather</h1>
		</div>

	</div><!--/.col-xs-12.col-sm-8-->

</div><!--/row-->

<div class="row">
    <div class="col-xs-12" >
        <h3 class="text-center">Add city</h3>
        <div class="list-group">
            <div class="list-group-item text-center">
                <form>
                    <input id="capitals" type="text" name="capitals" class="form-control" placeholder="Enter a city name..." ng-model="selected" typeahead="capital for capital in capitals | filter:$viewValue | limitTo:8">
                    <button class="btn btn-md btn-success" ng-click="add()">ADD</button>
                </form>
            </div>
        </div>
    </div><!--/.sidebar-offcanvas-->
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12 around ">
            <div class="col-xs-12 text-center">
                <h3>
                    Around the World
                </h3>
            </div>

            <div class="col-xs-4 text-center" ng-repeat="city in cities">
                <div class="city-item">
                    <a href="/cities/{{city.id}}/{{city.region}}" class="city-link">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        {{city.id}}
                    </a>
                </div>
            </div><!--/.col-sm-6.col-lg-4-->
        </div>

    </div>

</div>